body 
{
 background-image: url("Screenshot 2026-08-28 103556.jpg");
}

.container{
    width: 90%;
    margin: 35px auto;
    background-color:rgba(255, 255, 255, 0.5);
    padding: 25px;
    border-radius: 00px 00px 00px 00px;
}
